log-card {
  box-sizing: border-box;
}

.card {
  @include flex(flex-start, flex-start, column);
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid;
  border-radius: $common-border-radius;
  font-size: 1.5rem;
  cursor: pointer;
}

.card__header {
  margin-bottom: 1rem;
}

.card__name {
  font-weight: 500;
}

.card__body {
  width: inherit;
}

.card__description {
  width: inherit;
  font-size: 1.4rem;
}

.card__footer {
  width: 100%;
  @include flex(space-between, center);
  margin-top: 1rem;
}

.card__task {
  @include flex(flex-start, flex-end);
}

.card__status-icon {
  margin-bottom: 0.1rem;
}

.card__task-name {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.card__logged-time {
  font-weight: 500;
}

.card__remove-button {

}
