log-card {
  box-sizing: border-box;
}

.card {
  @include flex(flex-start, flex-start, column);
  width: 100%;
  position: relative;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid;
  border-radius: $common-border-radius;
  font-size: 1.5rem;
  cursor: pointer;
}

.card__header {
  margin-bottom: 1rem;
}

.card__name {
  font-weight: 500;
  word-break: break-word;
}

.card__body {
  width: inherit;
}

.card__description {
  display: inline-block;
  width: inherit;
  max-height: 15rem;
  overflow: hidden;
  font-size: 1.4rem;
  word-break: break-word;
}

.card__footer {
  width: 100%;
  @include flex(space-between, center);
  margin-top: 1rem;
}

.card__task {
  @include flex(flex-start, flex-end);
}

.card__status-icon {
  margin-bottom: 0.1rem;
}

.card__task-name {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  max-width: 12rem;
  @include ellipsis();
}

.card__logged-time {
  font-weight: 500;
}

.card__delete {
  position: absolute;
  @include size(2.2rem);
  @include flex(center, center);
  top: 0;
  right: 0;
  margin: 0.5rem;
  border-radius: $common-border-radius;
  opacity: 0;
  @include transition(0.15s, ease-in-out, 0.15s, opacity);
}

.card:hover {
  .card__delete {
    opacity: 1;
  }
}

.card__delete-text {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: lighter;
  transform: rotate(45deg);
}
