$column-head-border-width: 0.2rem;
$column-title-font-size: 1.1rem;

log-column {
  box-sizing: border-box;
}

.column {
  @include flex(flex-start, center, column);
  max-width: 28rem;
  min-width: 20rem;
  flex: 1;
  height: inherit;
  border-left: 0.1rem solid;
  border-right: 0.1rem solid;
  padding: 0 1rem;
}

.column,
.column__title {
  @include transition(0.15s, ease-in-out, 0.1s, background-color);
}

.column__head {
  width: 100%;
  @include flex(flex-start, center, column);
  position: relative;
  margin-bottom: 1.8rem;
  border-bottom: $column-head-border-width solid;
}

.column__details {
  @include size(100%);
  @include flex(space-between, center);
  margin: 1rem 0;
}

.column__date {
  .column__date-day {
    font-weight: 500;
  }
}

.column__hours {
  font-weight: 500;
}

$progress-height: 1.4rem;
.column__progress {
  @include size(100%, $progress-height);
  margin-bottom: 1.2rem;
  border-radius: $progress-height / 2;
}

.column__progress--done {
  height: 100%;
  border-radius: $progress-height / 2;
  @include transition(0.35s, ease-in-out, 0.05s, width);
}

//temporary
#column-1__progress--done {
  width: 93.75%;
}

.column__title {
  position: absolute;
  padding: 0 1.8rem;
  bottom: -(($column-title-font-size + $column-head-border-width) / 2);
  font-size: $column-title-font-size;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.05rem;
}

.column__body {
  width: 100%;
  @include flex(flex-start, center, column);
  overflow: auto;
}

.column__card {
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.column__footer {
  width: 100%;
  @include flex(center, flex-start);
}

.column__buttons {
  @include size(60%, 4rem);
  @include flex(flex-start, flex-start);
  margin: 1rem 0;
  border: 0.1rem solid;
  border-radius: 0.75rem;
  overflow: hidden;

  &--hidden {
    opacity: 0;
    @include transition(0.15s, ease-in-out, 0, opacity);

    &:hover {
      opacity: 1;
    }
  }
}

.column__button {
  @include size(50%, 100%);
  @include flex(center, center);
  border: 0;
  background: transparent;
  outline: none;
  @include transition(0.1s, ease-in-out, 0);

  &:first-child {
    border-right: 0.1rem solid;
  }

  &:last-child {
    border-left: 0.1rem solid;
  }

  &::before {
    content: '';
    @include size(1.7rem);
    line-height: 1.1;
    border-radius: 50%;
    border: 0.1rem solid;
  }
}

.buttons__add-task {
  &::before {
    content: '+';
  }
}

.buttons__remove {
  &::before {
    content: '‒';
  }
}
