.status-icon {
  @include size(1.5rem);
  @include inline-flex(center, center);
  border-radius: $common-border-radius;

  &::before {
    font-style: normal;
    color: #fff;
  }
}

.status-icon__feature {
  &::before {
    content: '\2714';
    font-size: 1.1rem;
  }
}

.status-icon__bug {
  &::before {
    content: '\2666';
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.status-icon__urgent {
  &::before {
    content: '!';
    font-weight: 500;
    font-size: 1.3rem;
  }
}
