@mixin card-theme($main, $dark, $accents, $error) {
  background-color: map-get($main, 50);
  border-color: map-get($main, 600);

  &.card--selectable {
    border-color: map-get($accents, 300);
  }

  &.card--selected {
    background-color: map-get($accents, 10);
  }

  .card__name {
    color: map-get($accents, 900);
  }

  .card__description {
    color: rgba(map-get($dark, 50), 0.85);
  }

  .card__logged-time {
    color: map-get($accents, 400);
  }

  .card__delete {
    background-color: map-get($main, 300);

    &:hover {
      background-color: map-get($main, 500);
    }
  }

  .card--selection {
    background-color: rgba(map-get($main, 300), 0.2);
  }
}
