@mixin card-theme($main, $dark, $accents, $error) {
  background-color: map-get($main, 50);
  border-color: map-get($main, 800);

  .card__name {
    color: map-get($accents, 1000);
  }

  .card__description {
    color: rgba(map-get($dark, 50), 0.75);
  }

  .card__logged-time {
    color: map-get($accents, 500);
  }
}
