@mixin column-theme($main, $dark, $accents, $error) {
  $column-bg: map-get($main, 100);
  $column-hover-bg: map-get($main, 200);
  $progress-color: map-get($accents, 400);
  background-color: $column-bg;
  border-color: map-get($main, 500);

  &:hover {
    background-color: $column-hover-bg;

    .column__title {
      background-color: $column-hover-bg;
    }
  }

  .column__details {
    color: map-get($dark, 200);
  }

  .column__date-day {
    color: map-get($dark, 1200);
  }

  .column__progress {
    background-color: map-get($main, 400);
  }

  .column__progress--done {
    background-color: $progress-color;
  }

  .column__title {
    background-color: $column-bg;
    color: map-get($main, 1500);
  }

  .column__head {
    border-color: map-get($main, 800);
  }

  .column__buttons {
    border-color: map-get($main, 900);
  }

  .column__button {
    border-color: inherit;
    background-color: map-get($main, 300);

    &:hover {
      background-color: map-get($main, 400);

      &::before {
        color: map-get($dark, 100);
      }
    }

    &::before {
      color: map-get($main, 1200);
    }
  }

  .column__remove-tasks {
    background-color: map-get($main, 100);
    border-color: $progress-color;
  }

  .column__remove-tasks-span {
    color: map-get($error, 500);
  }
}
