@mixin column-theme($palette) {
  $column-bg: map-get($palette, 50);
  $column-hover-bg: map-get($palette, 100);
  background-color: $column-bg;
  border-color: map-get($palette, 200);

  &:hover {
    background-color: $column-hover-bg;

    .column__title {
      background-color: $column-hover-bg;
    }
  }

  .column__details {
    color: map-get($palette, 800);
  }

  .column__date-day {
    color: map-get($palette, 1300);
  }

  .column__progress {
    background-color: map-get($palette, 400);
  }

  .column__progress--done {
    background-color: map-get($palette, 1100);
  }

  .column__title {
    background-color: $column-bg;
    color: map-get($palette, 600);
  }

  .column__head {
    border-color: map-get($palette, 200);
  }
}