@mixin column-theme($main, $dark, $accents) {
  $column-bg: map-get($main, 100);
  $column-hover-bg: map-get($main, 200);
  background-color: $column-bg;
  border-color: map-get($main, 600);

  &:hover {
    background-color: $column-hover-bg;

    .column__title {
      background-color: $column-hover-bg;
    }
  }

  .column__details {
    color: map-get($dark, 50);
  }

  .column__date-day {
    color: map-get($dark, 800);
  }

  .column__progress {
    background-color: map-get($main, 600);
  }

  .column__progress--done {
    background-color: map-get($accents, 500);
  }

  .column__title {
    background-color: $column-bg;
    color: map-get($main, 1500);
  }

  .column__head {
    border-color: map-get($main, 600);
  }

  .column__buttons {
    background-color: map-get($main, 200);
    border-color: map-get($main, 1100);
  }

  .column__button {
    border-color: inherit;
    background-color: map-get($main, 400);

    &:hover {
      background-color: map-get($main, 800);

      &::before {
        color: map-get($dark, 300);
      }
    }

    &::before {
      color: map-get($main, 1500);
    }
  }
}