@mixin dialog($main, $dark, $accents, $error) {
    .dialog__title {
        color: map-get($dark, 1000);
    }

    .dialog__button--submit {
        background-color: map-get($accents, 500);
        color: map-get($main, 50);

        &:hover {
            background-color: map-get($accents, 600);
        }
    }

    .dialog__button--cancel {
        background-color: map-get($main, 600);
        color: map-get($dark, 400);

        &:hover {
            background-color: map-get($main, 800);
        }
    }

    .dialog__input--invalid {
        border-color: map-get($error, 200);
    }
}
