@mixin input($main, $dark, $accents, $error) {
    & {
        border-color: map-get($main, 1500);
    }

    &-label {
        color: map-get($dark, 200);
    }

    &-warning {
        color: map-get($error, 400);
    }
}
