@mixin status-icon($main, $dark, $accents) {
  &.status-icon__feature {
    background-color: $status-icon--task;
  }
  &.status-icon__bug {
    background-color: $status-icon--bug;
  }
  &.status-icon__urgent {
    background-color: $status-icon--urgent;
  }
}
