@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($justify-content, $align-items, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;

  @if $flex-direction != row {
    flex-direction: $flex-direction;
  }
}

@mixin transition($time, $easing: ease-in-out, $delay: 0s, $property: all) {
  transition-duration: $time;
  transition-timing-function: $easing;
  @if $property != all {
    transition-property: $property;
    will-change: $property;
  }
  @if $delay != 0s {
    transition-delay: $delay;
  }
}