$main-palette: (
        50: #ffffff,
        100: #fafafa,
        200: #f7f7f7,
        300: #f3f3f3,
        400: #f0f0f0,
        500: #eeeeee,
        600: #ececec,
        700: #eaeaea,
        800: #e7e7e7,
        900: #e2e2e2,
        1000: #dedede,
        1100: #dadada,
        1200: #d6d6d6,
        1300: #d0d0d0,
        1400: #cdcdcd,
        1500: #c9c9c9,
);

$dark-palette: (
        50: #969696,
        100: #898989,
        200: #808080,
        300: #707070,
        400: #6b6b6b,
        500: #666666,
        600: #5e5e5e,
        700: #545454,
        800: #4d4d4d,
        900: #434343,
        1000: #393939,
        1100: #2f2f2f,
        1200: #222222,
        1300: #1a1a1a,
        1400: #0f0f0f,
        1500: #040404,
);

$accents-palette: (
        50: #E0D4F9,
        100: #CBB7F5,
        200: #B69AF0,
        300: #A684ED,
        400: #966EEA,
        500: #835BE4,
        600: #8051E1,
        700: #784ADD,
        800: #6D40D9,
        900: #6337D5,
        1000: #5533BC,
        1100: #4B2BB5,
        1200: #402794,
        1300: #311D82,
        1400: #23146D,
        1500: #1B1447,
);

$error-palette: (
        200: #e38787,
        300: #eb6767,
        400: #dd3f3f,
        500: #e13131,
);
