$main-palette: (
        50: #ffffff,
        100: #fbfbfb,
        200: #f5f5f5,
        300: #efefef,
        400: #eaeaea,
        500: #e6e6e6,
        600: #e0e0e0,
        700: #dcdcdc,
        800: #d8d8d8,
        900: #d1d1d1,
        1000: #cccccc,
        1100: #c8c8c8,
        1200: #c0c0c0,
        1300: #bcbcbc,
        1400: #b8b8b8,
        1500: #afafaf,
);

$dark-palette: (
        50: #969696,
        100: #898989,
        200: #808080,
        300: #707070,
        400: #6b6b6b,
        500: #666666,
        600: #5e5e5e,
        700: #545454,
        800: #4d4d4d,
        900: #434343,
        1000: #393939,
        1100: #2f2f2f,
        1200: #222222,
        1300: #1a1a1a,
        1400: #0f0f0f,
        1500: #040404,
);

$accents-palette: (
        50: #E0D4F9,
        100: #CBB7F5,
        200: #B69AF0,
        300: #A684ED,
        400: #966EEA,
        500: #835BE4,
        600: #8051E1,
        700: #784ADD,
        800: #6D40D9,
        900: #6337D5,
        1000: #5533BC,
        1100: #4B2BB5,
        1200: #402794,
        1300: #311D82,
        1400: #23146D,
        1500: #1B1447,
);

$error-palette: (
        200: #e38787,
        300: #eb6767,
        400: #dd3f3f,
        500: #e13131,
);
